@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.grid {
    display: grid;
    grid-template-columns: 85% 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "conteudo cabecalho";
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

.cabecalho {
    grid-area: cabecalho;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 15px;
    z-index: 1;
}

.conteudo {
    grid-area: conteudo;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-frame {
    min-width: 100px;
    max-width: 35vh;
    max-height: auto;
}

.lista-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-menu {
    width: 80px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.img-menu:hover {
    transform: scale(1.2);
}

.container-iframe{
    position: relative;
}

.conteudo-iframe {
    display: inline;
    position: absolute;
    max-width: 87%;
    height: 75.9%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-iframe {
    z-index: 1;
}

/* Adicionar media query para o frame do telefone e fazer o hover do img-menu em java script pata treinar*/

@media (min-width: 280px) and (max-width: 590px) {
    .img-menu {
        width: 10vw;
    }
}

@media (min-width: 591px) and (max-width: 1024px) {
    .img-menu {
        width: 8vw;
    }
}